#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

ARCHIVES=libspatialite-amalgamation spatialite-tools
FULL_VERSION=$(shell dpkg-parsechangelog|grep Version:|cut -d' ' -f2|cut -d- -f1)
VERSION=$(shell echo $(FULL_VERSION)|cut -d~ -f1)

%:
	-dh $@ \
		--with autoreconf

get-orig-source:
	mkdir -p $(CURDIR)/tmp || true
	for archive in $(ARCHIVES); \
	do \
	    wget -O $(CURDIR)/$$archive.tar.gz http://www.gaia-gis.it/spatialite-$(VERSION)/$$archive-$(VERSION).tar.gz; \
		tar xzovf $(CURDIR)/$$archive.tar.gz -C $(CURDIR)/tmp; \
		mv $(CURDIR)/tmp/$$archive-$(VERSION) $(CURDIR)/tmp/$$archive; \
	done
	mkdir -p $(CURDIR)/spatialite-$(FULL_VERSION)/upstream
	tar czvf $(CURDIR)/spatialite-$(FULL_VERSION)/upstream/spatialite.tar.gz -C $(CURDIR)/tmp $(ARCHIVES)
	rm -rf $(CURDIR)/tmp $(CURDIR)/*.tar.gz
	tar czvf spatialite_$(FULL_VERSION).orig.tar.gz --exclude=debian --exclude-vcs spatialite-$(FULL_VERSION)
	rm -rf $(CURDIR)/spatialite-$(FULL_VERSION)

unpack: unpack-stamp
unpack-stamp:
	tar xozvf $(CURDIR)/upstream/spatialite.tar.gz --exclude-vcs
	mv libspatialite-amalgamation libspatialite
	touch $@

override_dh_auto_configure: unpack
	dh_auto_configure -Dlibspatialite -- \
		--enable-geos --with-geos-lib=/usr/lib \
		--enable-proj --with-proj-lib=/usr/lib
	dh_auto_configure -Dspatialite-tools -- \
		--with-spatialite-lib=$(CURDIR)/libspatialite/.libs

override_dh_auto_build:
	dh_auto_build -Dlibspatialite
	dh_auto_build -Dspatialite-tools

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(CURDIR)/libspatialite $(CURDIR)/spatialite-tools
	rm -rf .pc

override_dh_auto_install:
	dh_auto_install -Dlibspatialite
	dh_auto_install -Dspatialite-tools

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib:$(CURDIR)/debian/tmp/usr/lib
